In [1]:
import numpy as np
import pandas as pd

# DatetimeIndex

In [4]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6","20180108"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-08'],
              dtype='datetime64[ns]', freq=None)

In [8]:
np.random.seed(2021)
s=pd.Series(np.random.random(5),index= idx)
s

2018-01-01    0.605978
2018-01-04    0.733369
2018-01-05    0.138947
2018-01-06    0.312673
2018-01-08    0.997243
dtype: float64

In [9]:
pd.date_range('20210601', '20210630')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('20210601', periods=30)

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range('20210601', '20210630',freq='B')
#업무일

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [14]:
pd.date_range('20210601', '20210630',freq="W")

DatetimeIndex(['2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27'], dtype='datetime64[ns]', freq='W-SUN')

In [15]:
pd.date_range('20210101','20211231',freq= "M")

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

### -resample

In [20]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(10)

2018-04-01   -0.243455
2018-04-02    1.529029
2018-04-03   -0.661781
2018-04-04    0.955625
2018-04-05   -0.380597
2018-04-06   -0.786399
2018-04-07   -0.729493
2018-04-08   -1.268221
2018-04-09   -0.169053
2018-04-10   -0.275574
Freq: D, dtype: float64

In [22]:
ts.resample('M').mean()

2018-01-31   -0.176524
2018-02-28   -0.224059
2018-03-31   -0.104292
2018-04-30   -0.202992
Freq: M, dtype: float64

In [23]:
ts.resample('M').first()

2018-01-31   -0.182082
2018-02-28   -0.043034
2018-03-31    2.063045
2018-04-30   -0.243455
Freq: M, dtype: float64